.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./images/lineliff.jpg');
  /* background-color: #A7C5EB; */
  min-height: 89vh;
  /* max-height: 130vh; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CheckScore-header {
  background-color: #A7C5EB;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.CheckTasks-header {
  background-color: #FFA78F;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.ConfirmFeedback-header {
  background-color: #A7C5EB;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Feedback-header {
  background-color: #FFFFFF;
  min-height: 89vh;
  max-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Editinfo-header {
  background-color: #FFFFFF;
  min-height: 76vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Verify-header {
  background-color: #FFFFFF;
  min-height: 76vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SpanHover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.background-header {
  background: linear-gradient(180deg, rgba(167, 197, 235, 0) 0%, #A7C5EB 100%);
}

.maincard-background {
  background: #2196F3;
  border-radius: 10px;
}

.feedback-background {
  background: #A7C5EB;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}