.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #A7C5EB;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background-header {
  background: linear-gradient(180deg, rgba(167, 197, 235, 0) 0%, #A7C5EB 100%);
}

.maincard-background {
  background: #F8D000;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}